{{!-- container --}}
<div class="signup p-4">
    <div class="my-4 d-flex justify-content-lg-start">
        <h1 class="white fontheavy justify-content-sm-center">Add New Recipe</h1>
    </div>
    <form>
        <!-- filters -->
        <div class="d-flex row">
            <div id="cuisine" class="col-sm-12 col-lg-4">
                <select class="form-control fontheavy nullcheck">
                    <option class="dropdown-item" value="" disabled selected>Cuisine</option>
                    {{#each cuisine_name}}
                    <option class="dropdown-item" value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>

            <div id="foodtype" class="col-sm-12 col-lg-4">
                <select class="form-control fontheavy nullcheck">
                    <option class="dropdown-item" value="" disabled selected>Food type</option>
                    {{#each food_type}}
                    <option class="dropdown-item" value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>


            <div id="foodnamesection" class="col-sm-12 col-lg-4">
                <select class="form-control fontheavy nullcheck">
                    <option class="dropdown-item" value="" disabled selected>Food name</option>
                    {{#each food_name}}
                    <option class="dropdown-item" value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>

        </div><br>

        <div class="form-group row">
            <label for="recipename" class="col-sm-2 col-form-label">Recipe Name</label>
            <div class="col-sm-12">
                <input type="text" class="form-control nullcheck" id="recipename">
            </div>
        </div>
        <div class="form-group row">
            <label for="cookingtime" class="col-sm-2 col-form-label">Cooking Time</label>
            <div class="col-sm-12">
                <input type="text" class="form-control nullcheck" id="cookingtime" placeholder="ex) for 10 minutes, enter 10">
            </div>
        </div>
        <div class="form-group row">
            <label for="text" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-12">
                <input type="text" class="form-control nullcheck" id="recipedescription"
                    placeholder="Please describe your recipe in short">
            </div>
        </div>
        <div class="form-group row">
            <label for="text" class="col-sm-2 col-form-label">Ingredients</label>
            <div class="col-sm-12">
                <input type="text" class="form-control nullcheck" id="recipeingredients"
                    placeholder="ex) Pork 200g, salt 1 tbsp, some water">
            </div>
        </div>
        <fieldset class="form-group flex-wrap">
            <label for="form-check-input" class="mr-4">Difficulty</label>
            <div class="col-sm-12">
                <label class="radio-inline mx-2">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="1"
                        checked>★☆☆☆☆
                </label>
                <label class="radio-inline mx-4">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="2">★★☆☆☆
                </label>
                <label class="radio-inline mx-4">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="3">★★★☆☆
                </label>
                <label class="radio-inline mx-4">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="4">★★★★☆
                </label>
                <label class="radio-inline mx-4">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="5">★★★★★
                </label>
            </div>
        </fieldset>
        <div class="form-group mx-1">
            <label for="exampleFormControlTextarea1">HOW TO</label>
            <textarea class="form-control nullcheck" id="recipehowto" rows="10" placeholder="Please describe how you made the food (please press enter when each step ends)
                
                "></textarea>
        </div>
        <br>
        <div class="custom-file mb-3">
            <div>
                <label for="file">Choose 1 picture of your recipe (This picture will be added to your recipe)</label><br>
                <input type="file" class="btn btn-outline-secondary col-12" id="file" name="file" multiple>
            </div><br>

            <div class="form-group row d-flex justify-content-center">
                <div>
                    <button id="fire" type="submit" class="btn btn-danger">UPLOAD</button>
                </div>
            </div>
    </form>
</div>