<nav id="recipemain" class="book cotainer-fluid row sticky-top navbar bg-light">
    <!-- filters -->
    <div id="filters" class="font2">
        <button type="button" class="btn btn-outline-dark">BBQ</button>
        <button type="button" class="btn btn-outline-dark">DESSERT</button>
        <button type="button" class="btn btn-outline-dark">FRIED</button>
        <button type="button" class="btn btn-outline-dark">STEAMED</button><br>
        <button type="button" class="btn btn-outline-dark">Cantonese</button>
        <button type="button" class="btn btn-outline-dark">Chinese</button>
        <button type="button" class="btn btn-outline-dark">Japanese</button>
        <button type="button" class="btn btn-outline-dark">Korean</button>
        <button type="button" class="btn btn-outline-dark">Thai</button>

    </div>


    <div id="r_recipe">

        <a href="/newrecipe" role="button" id="newrecipe" class="btn btn-danger my-2 my-sm-0">Add new recipe
        </a><br>

        <!-- sort -->
        <select id="sort" class="custom-select">
            <option selected>Sort</option>
            <option value="1">Rating</option>
            <option value="2">New</option>
        </select>

    </div>

</nav>

<div class="row center">
    {{#each recipe}}
    <div class="eachrecipe col-sm-6 col-md-4 col-lg-3">
        <div class="d-flex justify-content-center">
            <h5>
                <a class="font2" id="minrecipename" href='/recipe:{{recipe_id}}'>{{recipe_name}}</a>
            </h5>

            <img class="icon2 ml-2" src="add2.png" alt="delete">

        </div>

        <p>{{users_user_id}}</p>
        <div class="rating">
            <div class="rating-upper red" style="width: {{recipe_rating}}%">
                <span>❤</span>
                <span>❤</span>
                <span>❤</span>
                <span>❤</span>
                <span>❤</span>
            </div>
            <div class="rating-lower">
                <span>❤</span>
                <span>❤</span>
                <span>❤</span>
                <span>❤</span>
                <span>❤</span>
            </div>

        </div>
        <img class="minviewimg col-sm-10" src="{{recipe_image_url}}" alt="recipe image">
    </div>
    {{else}}
    <div class="eachrecipe col-sm-6 col-md-4 col-lg-3">
        <p>Sorry, no result!</p>
    </div>
    {{/each}}
</div>