<div id="recipemain" class="book cotainer-fluid row">
    <!-- filters -->
    <div id="filters">
        <button type="button" class="btn btn-outline-dark">BBQ</button>
        <button type="button" class="btn btn-outline-dark">DESSERT</button>
        <button type="button" class="btn btn-outline-dark">FRIED</button>
        <button type="button" class="btn btn-outline-dark">STEAMED</button><br>
        <button type="button" class="btn btn-outline-dark">Cantonese</button>
        <button type="button" class="btn btn-outline-dark">Chinese</button>
        <button type="button" class="btn btn-outline-dark">Japanese</button>
        <button type="button" class="btn btn-outline-dark">Korean</button>
        <button type="button" class="btn btn-outline-dark">Thai</button>

    </div>


    <div id="r_recipe">

            <a href="/newrecipe" role="button" id="newrecipe" class="btn btn-danger my-2 my-sm-0">Add new recipe
            </a><br>

        <!-- sort -->
        <select id="sort" class="custom-select">
            <option selected>Sort</option>
            <option value="1">Rating</option>
            <option value="2">New</option>
        </select>

    </div>




    <!-- first row -->
<!--
let list1 = {
    recipe: [
    {
        recipe_id: 1,
        recipe_name: "Spicy Fishball",
        users_user_id: "pullip123",
        recipe_image_url: "fishball.jpg",
        recipe_rating: '&#x2764;&#x2764;&#x2764;&#x2764;&#x2764;'
    },{
        recipe_id: 0,
        recipe_name: "Recipe Name",
        users_user_id: "Username",
        recipe_image_url: "fishball.jpg",
        recipe_rating: '&#x25c7;&#x25c7;&#x25c7;&#x25c7;&#x25c7;'
    },{
        recipe_id: 0,
        recipe_name: "Recipe Name",
        users_user_id: "Username",
        recipe_image_url: "fishball.jpg",
        recipe_rating: '&#x25c7;&#x25c7;&#x25c7;&#x25c7;&#x25c7;'
    },{
        recipe_id: 0,
        recipe_name: "Recipe Name",
        users_user_id: "Username",
        recipe_image_url: "fishball.jpg",
        recipe_rating: '&#x25c7;&#x25c7;&#x25c7;&#x25c7;&#x25c7;'
    },{
        recipe_id: 0,
        recipe_name: "Recipe Name",
        users_user_id: "Username",
        recipe_image_url: "fishball.jpg",
        recipe_rating: '&#x25c7;&#x25c7;&#x25c7;&#x25c7;&#x25c7;'
    },{
        recipe_id: 0,
        recipe_name: "Recipe Name",
        users_user_id: "Username",
        recipe_image_url: "fishball.jpg",
        recipe_rating: '&#x25c7;&#x25c7;&#x25c7;&#x25c7;&#x25c7;'
    },{
        recipe_id: 0,
        recipe_name: "Recipe Name",
        users_user_id: "Username",
        recipe_image_url: "fishball.jpg",
        recipe_rating: '&#x25c7;&#x25c7;&#x25c7;&#x25c7;&#x25c7;'
    },{
        recipe_id: 0,
        recipe_name: "Recipe Name",
        users_user_id: "Username",
        recipe_image_url: "fishball.jpg",
        recipe_rating: '&#x25c7;&#x25c7;&#x25c7;&#x25c7;&#x25c7;'
    }]
}
    -->
</div>

<div class="row center">
    {{#each recipe}}
    <div class="eachrecipe col-sm-6 col-md-4 col-lg-3">
        <h2> <a href='/recipe:{{recipe_id}}'>{{recipe_name}}</a></h2>
        <p>{{users_user_id}}</p>
        <p>{{{recipe_rating}}}</p>  <!-- need triple brackets here -->
        <img class="minviewimg col-sm-10" src="{{recipe_image_url}}" alt="recipe image">
    </div>
    {{else}}
    <div class="eachrecipe col-sm-6 col-md-4 col-lg-3">
        <p>Sorry, no result!</p>
    </div>
    {{/each}}
</div>
<!-- second row 
    <div class="row center">

        <div class="eachrecipe col-sm-6 col-md-4 col-lg-3">
            <h2>Recipe Name</h2>
            <p>Username</p>
            <img class="minviewimg" src="fishball.jpg" alt="recipe image">
        </div>

        <div class="eachrecipe col-sm-6 col-md-4 col-lg-3">
            <h2>Recipe Name</h2>
            <p>Username</p>
            <img class="minviewimg" src="fishball.jpg" alt="recipe image">
        </div>

        <div class="eachrecipe col-sm-6 col-md-4 col-lg-3">
            <h2>Recipe Name</h2>
            <p>Username</p>
            <img class="minviewimg" src="fishball.jpg" alt="recipe image">
        </div>

        <div class="eachrecipe col-sm-6 col-md-4 col-lg-3">
            <h2>Recipe Name</h2>
            <p>Username</p>
            <img class="minviewimg" src="fishball.jpg" alt="recipe image">
        </div>

    </div>
-->